:root{
    --background-color: #260a0c;
--button-color: #0b5916;
--navbar-color: #f28749;
--card-color: #a6411c;
}


.header {
    background-color: var(--card-color);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 80%;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}